.sources-wrapper {
  display: flex;
}

.sources-wrapper > div:first-child {
  flex-grow: 1;
}

.source-card {
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  padding: 20px;
  min-width: 300px;
  max-width: 300px;
}

.source-card > .title {
  font-size: 25px;
  margin-bottom: 15px;
}

.source-card > .description {
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.input-group > * {
  margin: 5px;
}

.input-group > input, textarea {
  width: 250px;
}

.submit > button {
  margin: 5px;
  cursor: pointer;
}

.new-source-wrapper, .edit-source-wrapper {
  border-left: 1px solid black;
  padding: 10px;
}

.source-delete-form {
  display: inline;
}

.source-card button {
  margin: 2px;
  float: right;
}