.transactions-wrapper {
  display: flex;
}

.transactions-wrapper > div:first-child {
  flex-grow: 1;
}

.transaction {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  border-bottom: 1px solid black;
}

.transaction > div {
  min-width: 100px;
}

.transactions-list {
  margin: 0px 30px;
}

.transaction button {
  float: right;
  margin: 2px;
}

.new-transaction-wrapper, .edit-transaction-wrapper {
  border-left: 1px solid black;
  padding: 10px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.input-group > * {
  margin: 5px;
}

.input-group > input, select {
  width: 250px;
}

.submit > button {
  margin: 5px;
  cursor: pointer;
}
